* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100%;
    font-family: "roboto", sans-serif;
    font-size: 10px;
    
}

body {
    background-color: rgb(10, 10, 10);
    overflow: hidden;
    position: relative;
}




/* nav section */
/* nav section */
/* nav section */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 5% 0;
    z-index: 10000;
    position: fixed;
    width: 100%;
    mix-blend-mode: difference;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-bar a {
    text-decoration: none;
}

.logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    display: grid;
    place-items: center;
    mix-blend-mode: difference;
}

.logo p {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(8, 8, 8);
    
}

.burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    z-index: 10000;
    mix-blend-mode: difference;
    position: relative;
}

.line {
    position: absolute;
}

.line1 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: rgb(245, 245, 245);
    top: 0;
    left: 0;
    transform-origin: top left;
}

.line2 {
    width: 3rem;
    height: 0.2rem;
    background-color: rgb(245, 245, 245);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.line3 {
    left: 50%;
    width: 1.5rem;
    height: 0.2rem;
    background-color: rgb(245, 245, 245);
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.burger.open .line1 {
    -moz-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -o-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -ms-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -webkit-transform: rotate(45deg) translateX(-20px) translateY(3px);
    transform: rotate(45deg) translateX(20px) translateY(-2px);
    transition: all 0.4s ease;
}

.burger.open .line2 {
    -moz-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -o-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -ms-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -webkit-transform: rotate(45deg) translateX(-20px) translateY(3px);
    transform: rotate(-45deg) translateY(-50%);
    transition: all 0.4s ease;
}

.burger.open .line3 {
    -moz-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -o-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -ms-transform: rotate(45deg) translateX(-20px) translateY(3px);
    -webkit-transform: rotate(45deg) translateX(-20px) translateY(3px);
    transform: rotate(45deg) translateX(-20px) translateY(3px);
    transition: all 0.4s ease;
}



.nav-links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    top: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    padding: 15rem 5% 0;
    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;
    backdrop-filter: blur(15px);
    
}

.nav-links.active {
    transform: translateX(0);
}

.nav-links ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    height: 5rem;
    overflow: hidden;
    z-index: 120;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul li a {
    font-size: 2rem;
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
}

.social-links {
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
}

.on-page {
    position: absolute;
    color: rgb(245, 245, 245, 0.1);
    font-size: 10rem;
    font-weight: 600;
    z-index: 110;
}





/* header section */
/* header section */
/* header section */
header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    overflow: hidden;
    padding: 0 5%;
}

.bg-text-container {
    color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    top: 0;
    left: -23%;
    width: 165%;
}

.bg-text {
    font-size: 10rem;
    font-weight: 800;
}

.hi-container {
    height: 4rem;
    overflow: hidden;
}

.hi-container h2 {
    color: rgb(245, 245, 245);
    font-weight: 300;
    font-size: 3rem;
}

.hi-container h2 span {
    color: #04667B;
    font-weight: 500;
}

.name-container  {
    height: 7rem;
    overflow: hidden;
    z-index: 2;
}

.name-container h1 {
    color: rgb(245, 245, 245);
    font-size: 6rem;
}

.resume {
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.cta-btn {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    height: 3rem;
    width: 45%;
    background-color: #04667B;
    color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.cta-btn2 {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    height: 3rem;
    width: 45%;
    background-color: rgb(245, 245, 245);
    color: rgb(8, 8, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}




/* about section */
/* about section */
/* about section */
.about-section {
    padding: 3rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-size: 1.8rem;
    color: rgb(245, 245, 245);
    font-weight: 400;
    text-align: center;
}

.text-container {
    width: 100%;
    padding: 3rem 0;
}

.about-text {
    font-size: 1.6rem;
    color: rgb(245, 245, 245);
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}



.more {
    font-size: 1.6rem;
    color: rgb(245, 245, 245);
    font-weight: 300;
    text-align: center;
    margin: 2rem 0;
    
}



/* project section */
/* project section */
/* project section */
.projects-section {
    padding: 4rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    flex-direction: column;
    
}

.orject-card {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(245, 245, 245);
    margin: 2rem 0;
    height: 45rem;
    width: 100%;
    padding: 1rem;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -5px 8px 15px 0 rgba(255, 255, 255, 0.1);
}

.project-img {
    height: 20rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.project-img1 {
    background-image: url(/portfolio_2/images/BLACKDOT\ mockup.jpg);
}

.project-img2 {
    background-image: url(/portfolio_2/images/ARTstudio.jpg);
}

.project-heading {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.5rem 0 1rem;
    text-align: center;
}

.project-text {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
}

.project-links {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.project-links a {
    font-size: 1.4rem;
    color: rgb(245, 245, 245);
    text-align: center;
    margin: 0 1rem;
    font-weight: 300;
}



/* footer section */
/* footer section */
/* footer section */
footer {
    width: 100%;
    padding: 6rem 5% 1rem;
    
}

.footer-links {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 3rem 0 0;
}

.footer-social-links {
    display: flex;
    flex-direction: column;
}

.footer-nav-links {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-social-links a,
.footer-nav-links a {
    font-size: 1.4rem;
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: 300;
    height: 2.2rem;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 20%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright p {
    color: rgb(245, 245, 245);
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 0 0;
}












/* about page */
/* about page */
/* about page */
/* about page */
/* about page */
.about-img-container {
    width: 30rem;
    height: 45rem;
    padding: 1rem 0 0 1rem;
    background-color: #04667B;
    margin-top: 5rem;
}

.about-img{
    background-image: url(/portfolio_2/images/HUJ.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30rem;
    height: 45rem;
}





















/* contact page */
/* contact page */
/* contact page */
/* contact page */
/* contact page */
.contact-header {
    height: 100vh;
    width: 100%;
    padding: 0 5%;
}

.contact-info {
    display: none;
}

.form-section {
    width: 100%;
    padding: 10rem 0 0;
}

.rect {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(245, 245, 245);
    padding: 0 0.6rem;
    height: 5rem;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    width: 100%;
}

.textarea {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(245, 245, 245);
    padding: 0 0.6rem;
    height: 10rem;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    width: 100%;
    font-family: 'roboto', sans-serif;
}

.button {
    width: 100%;
    height: 4rem;
    background-color: #04667B;
    color: rgb(245, 245, 245);
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
}














/* tablet veiwport 768px */
/* tablet veiwport 768px */
/* tablet veiwport 768px */
/* tablet veiwport 768px */
/* tablet veiwport 768px */
/* tablet veiwport 768px */
/* tablet veiwport 768px */
@media screen and (min-width: 768px) {

    /* nav-links */
    .nav-links {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgb(10, 10, 10);
        top: 0;
        right: 0;
        z-index: 100;
        position: fixed;
        padding: 20rem 5% 0;
        transform: translateX(100%);
        transition: transform 0.35s ease-in-out;
        backdrop-filter: blur(15px);
        
    }

    .nav-links ul {
        height: 50%;
    }

    .nav-links ul li {
        list-style: none;
        height: 7rem;
        overflow: hidden;
        z-index: 120;
        margin-bottom: 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links ul li a {
        font-size: 5rem;
        color: rgb(245, 245, 245);
        text-decoration: none;
        font-weight: 300;
        display: inline-block;
    }

    .social-links {
        padding-top: 10rem;
        display: flex;
        justify-content: space-between;
    }

    .on-page {
        position: absolute;
        color: rgb(245, 245, 245, 0.1);
        font-size: 20rem;
        font-weight: 600;
        z-index: 110;
        top: 20%;
    }

    .social-links-nav a {
        font-size: 3rem;
        height: 5rem;
    }



        
    /* header section */
    /* header section */
    /* header section */


    .bg-text-container {
        color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        overflow: hidden;
        height: 100vh;
        top: 0;
        left: -30%;
        width: 165%;
    }

    .bg-text {
        font-size: 20rem;
        font-weight: 800;
    }

    .hi-container {
        height: 6rem;
        overflow: hidden;
    }

    .hi-container h2 {
        color: rgb(245, 245, 245);
        font-weight: 300;
        font-size: 5rem;
    }

    .hi-container h2 span {
        color: #04667B;
        font-weight: 500;
    }

    .name-container  {
        height: 14rem;
        overflow: hidden;
        z-index: 2;
    }

    .name-container h1 {
        color: rgb(245, 245, 245);
        font-size: 12rem;
    }

    .resume {
        height: 7rem;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .cta-btn {
        font-size: 2.2rem;
        font-weight: 300;
        height: 5rem;
        width: 30rem;
    }

    .cta-btn2 {
        font-size: 2.2rem;
        font-weight: 300;
        text-decoration: none;
        height: 5rem;
        width: 30rem;
        
    }






    

    /* about sectio */
    /* about sectio */
    /* about sectio */
    .about-section {
        padding: 5rem 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading {
        font-size: 3.4rem;
        color: rgb(245, 245, 245);
        font-weight: 400;
        text-align: center;
        margin: 2rem 0;
    }

    .text-container {
        width: 100%;
        padding: 1rem 0;
    }

    .about-text {
        font-size: 2.8rem;
        color: rgb(245, 245, 245);
        font-weight: 300;
        text-align: center;
        margin-top: 1rem;
    }

    .skills-container {
        padding: 2rem 0;
    }

    .img-top img {
        width: 14rem;
    }


    .more {
        font-size: 3rem;
        color: rgb(245, 245, 245);
        font-weight: 300;
        text-align: center;
        margin: 2rem 0;
        
    }








    

    /* project section */
    /* project section */
    /* project section */
    

    .orject-card {
        margin: 3rem 0;
        height: 75rem;
        width: 100%;
        padding: 2rem;
        
    }

    .project-img {
        height: 35rem;
    }


    .project-heading {
        font-size: 3rem;
        font-weight: 400;
        padding: 2rem 0 1rem;
        text-align: center;
    }

    .project-text {
        font-size: 2.8rem;
    }

    .project-links {
        margin-top: 3rem;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .project-links a {
        font-size: 3rem;
        color: rgb(245, 245, 245);
        text-align: center;
        margin: 0 1rem;
        font-weight: 300;
    }





    

    /* footer section */
    /* footer section */
    /* footer section */

    .footer-links {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 4rem 0 0;
    }

    .footer-social-links a,
    .footer-nav-links a {
        font-size: 2.4rem;
        color: rgb(245, 245, 245);
        text-decoration: none;
        font-weight: 300;
        height: 3.8rem;
    }

    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3rem 20%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .copyright p {
        color: rgb(245, 245, 245);
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 0 0;
    }

    







}











/* desktop viewport 1024px */
/* desktop viewport 1024px */
/* desktop viewport 1024px */
/* desktop viewport 1024px */
/* desktop viewport 1024px */
/* desktop viewport 1024px */
/* desktop viewport 1024px */

@media screen and (min-width: 1024px) {
    
        
    /* header section */
    /* header section */
    /* header section */


    .bg-text-container {
        color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        overflow: hidden;
        height: 100vh;
        top: 0;
        left: -33%;
        width: 165%;
    }

    .bg-text {
        font-size: 25rem;
        font-weight: 800;
    }

    .hi-container {
        height: 5rem;
        overflow: hidden;
    }

    .hi-container h2 {
        color: rgb(245, 245, 245);
        font-weight: 300;
        font-size: 4rem;
    }

    .hi-container h2 span {
        color: #04667B;
        font-weight: 500;
    }

    .name-container  {
        height: 11rem;
        overflow: hidden;
        z-index: 2;
    }

    .name-container h1 {
        color: rgb(245, 245, 245);
        font-size: 10rem;
    }

    .resume {
        height: 7rem;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .cta-btn {
        font-size: 2.2rem;
        font-weight: 300;
        height: 5rem;
        width: 30rem;
    }

    .cta-btn2 {
        margin-left: 2rem;
    }




        

    /* about section */
    /* about section */
    /* about section */

    .heading {
        font-size: 3.4rem;
        color: rgb(245, 245, 245);
        font-weight: 400;
        text-align: left;
    }

    .about-info-container {
        display: flex;
    }

    .text-container {
        width: 50%;
        
    }

    .about-text {
        font-size: 2.6rem;
        color: rgb(245, 245, 245);
        font-weight: 300;
        text-align: left;
        margin-top: 1rem;
        padding: 5rem 7% 0 0;
    }

    .skills-container {
        padding: 0;
    }



    .more {
        font-size: 3rem;
        color: rgb(245, 245, 245);
        font-weight: 300;
        text-align: center;
        margin: 2rem 0;
        
    }



    /* project section */
    /* project section */
    /* project section */
    .projects-section {
        padding: 4rem 5%;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .orject-card {
        margin: 3rem 0;
        height: 75rem;
        width: 50%;
        padding: 2rem;
        
    }

    .project-img {
        height: 35rem;
    }


    .project-heading {
        font-size: 3rem;
        font-weight: 400;
        padding: 2rem 0 1rem;
        text-align: center;
    }

    .project-text {
        font-size: 2.4rem;
    }

    .project-links {
        margin-top: 3rem;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .project-links a {
        font-size: 2.6rem;
        color: rgb(245, 245, 245);
        text-align: center;
        margin: 0 1rem;
        font-weight: 300;
    }








}



















