* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: "roboto", sans-serif;
    font-size: 10px;
    background-color: rgb(8, 8, 8);
}



/* nav section */
/* nav section */
/* nav section */
.nav-bar {
    padding: 20px 5% 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    mix-blend-mode: difference;
}

.logo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    display: grid;
    place-items: center;
    
}

.logo p {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(8, 8, 8);
}

.burger {
    background-color: lightgreen;
    height: 3rem;
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.line {
    width: 3.5rem;
    height: 0.3rem;
    background-color: rgb(245, 245, 245);;
}




